

table>div>h1{
    color: dimgray;
}
body {
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: rgb(237, 241, 247);}

#listeutilisateurs{
    width: 60%;
    margin: auto;
    color: dimgray;
    background-color: rgb(244,244,244);}
   
tbody{background-color: white;}
h1 {
    margin-left: 15%}
