.section{
    border: 2px;
    /*border-color:rgb(55, 0, 255);*/

    padding: 25px;
    
    background:rgb(255, 255, 255);
    width: auto;
    height: auto;
    }

    body{
       background-color: rgb(239, 241, 248) ; 
    
    }

    
.contour{
   background-color: aliceblue ; 
   margin: auto;
   padding:25px ;

}
